* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    margin: 20px;
    color: rgb(57, 57, 165);
}

body {
    display: block;
}

.container {
    margin:0 auto;
    max-width: 400px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: rgb(80, 80, 219);
    border: none;
    text-transform: uppercase;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: rgb(68, 68, 113);
}

.success-message {
    background-color: darkgreen;
    padding: 16px;
    color:blanchedalmond;
    display: none;
}

.error-message {
    font-size: 12px;
    padding: 8px;
    background-color: crimson;
    color: blanchedalmond;
    margin-bottom: 8px;
    display: none;
}